{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "baseUrl": "./",
    "parser": {
      "syntax": "typescript"
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },

    "paths": {
      "#/*": ["./src/*"]
    }
  },
  "module": {
    "type": "es6",
    "strict": true,
    "importInterop": "swc",
    "resolveFully": false
  }
}
